
body
{
    margin: 0;
}

.header-nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    height: 110px;
    z-index: 10;
    
   
}

.header-bg
{
    background-color: rgb(0, 0, 0, 0.7);
    transition: 0.3s;
    
}

.logo{
    display: flex;
    margin-right: 20px;
}
.logo img{
    height: 10%;
    width: 10%;
}

.header-nav h1
{
    text-decoration:underline;
}



.navigation
{
    display: flex;
    list-style-type: none;
}

.menuForSmallMon
{
    display: none;
}


.navigation li
{
    padding: 0 1rem;
}

.navigation li a
{
    font-size: 1.8rem;
    font-weight: 600;
}

@media screen and (max-width: 1460px){
    .navigation
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: -100%;
        z-index: -2;
        transition: 0.5s;
        background-color: rgb(0, 0, 0, 0.6);
    }

    .navigation.active
    {
        left: 0;
    }

    .navigation li 
    {
        padding: 1rem ;

    }
    .navigation li  a
    {
        font-size: 2rem ;

    }
    .menuForSmallMon
    {
    display: initial;
    }
}

/*             */


.backIm
{
    width:100%;
    height:100vh;
}

.mask
{
    width:100% ;
    height: 100%;
    position: relative;
}

.firstimg
{
    width:100% ;
    height: 100%;
    background-size: cover;
    background-position: center center;
    object-fit: cover;
}

.mask::after
{
    content: "";
    width:100% ;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity:0.7 ;

}



.backIm .content
{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    text-align: center;
}

.backIm .content h1
{
    font-size: 3rem;
    padding: 0.6rem 0 1.5rem;
}

.backIm .content p
{
    font-size: 1.1;
    font-weight: 200;
}

@media screen and (max-width: 840px)
{
    .backIm .content h1
    {
        font-size: 2rem;
        padding: 0.6rem 0 1 5rem;
    }

    .backIm .content p
    {
        font-size: 1.4rem;
    }
}
